

:root {
	--cor1: #3AD3E0;
	--cor2: #DEC72F;
	--cor3: #DE2F93;

	--cor-sombra1: #435C5E;
	--cor-sombra2: #5E5B43;
	--cor-sombra3: #894A6E;

	--fonte-principal: "Poppins", sans-serif;
}

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--fonte-principal);
}

body {
	background-color: var(--cor-sombra1);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container-principal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	height: auto;
	background-color: var(--cor1);
	border-radius: 20px;
	padding: 20px;
	gap: 15px;

	.campo-pesquisa {
		display: flex;
		flex-direction: row;
		width: 80%;
		
		align-items: center;
		border: 1px solid ;
		border-radius: 10px;
		padding: 5px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

		input {
			border: none;
			border-radius: 10px;
			outline: none;
			background-color: transparent;
			font-size: 1em;
			padding: 10px;
			color: #fdfdfd;
		}

		button {
			text-align: center;		
			width: 100%;
			aspect-ratio: 1 / 1;
			border: none;
			outline: none;
			border-radius: 100%;
			background-color: var(--cor2);
		}

		.fa-location-dot {
			font-size: 2em;
			color: var(--cor3);
		}

		.fa-magnifying-glass {
			font-size: 1em;
			
			
		}

	}
}

.campo-conteudo {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 400px;
	height: auto;
	background-color: var(--cor1);
	border-radius: 20px;
	padding: 20px;
	gap: 15px;

	.infos-principais {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;	

		.img-clima-celsius {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 5px; 
			border-radius: 10px;
			padding: 5px 10px;
			background-color: var(--cor2);
			margin-bottom: 10px;
			
			img {
				width: 100px;
				filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.5));
				
			}

			p {
				font-size: 3em;
				font-weight: 800;

				sup {
					font-size: 20px;
					font-weight: 500;
				}
			}

			.info-min-max {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1px;

				sup {
					font-size: 10px;
				}

				.info-max {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 5px;
						i {
							color:red;
						}
				}

				.info-min {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 5px;

						i {
							color:blue;
						}
				}



				p {
					font-size: 0.8em;
					color: #000;
				}

			}
		}
	}

	.info-umidade-vento {
		
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;

		hr {
			width: 40px;
			height: 1px;
			border: 0px;
			transform: rotate(90deg);
			background-color: #fdfdfd;
		}

		.info-umidade, .info-vento {
			display:flex;
			flex-direction: row;
			align-items: center;
			font-size: 2em;
			
			span {
				font-size: 0.5em;
				color: var(--cor3);
			}
		}

		.info-umidade {
			padding: 10px;
					
			
			i {
				color: blue;
			}
		}

		.info-vento {
			

			i {
				color: rgb(103, 103, 255);
			}
		}

	}

	h2 {
		text-transform: capitalize;
	}
}

.show {
		display: flex;
	}